__pycache__/
.ipynb_checkpoints/
*.pyc
.env
.vscode/
.idea/
crawl_schedule.log

# 연습용 노트북
DB_XGB_MODEL.ipynb
XGB_MODEL.ipynb

# 학습용 데이터
kbo_batting_1982-2025.csv
kbo_pitching_1982-2025.csv

상대전적_csv파일.csv
이미지크롤링.ipynb